doctype html
html(lang='en')
  include includes/head
  body
    a.skip-link(href='#main-content') Skip to content
    .site-shell
      include includes/header
      main#main-content.site-main
        block content
      include includes/footer
